@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:ital,wght@0,700;1,400&display=swap');

:root {
  --space-smallest: 1px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space: 24px;
  --space-md: 32px;
  --space-lg: 48px;
  --space-xlg: 64px;
  --space-xxlg: 80px;

  --white: #FFFFFF;
  --gray: #A9A9A9;
  --black: #000000;
  --orange: #F2994A;

  --title-color: var(--black);
  --paragraph-text-color: #4F4F4F;
  --list-item-text-color: #333333;
  --card-item-title-color: #BDBDBD;
  --card-item-subtitle-color: var(--black);
  --card-item-icon-color: #4F4F4F;
  --checkbox-border-color: #828282;
  --footer-text-color: var(--gray);
  --background: var(--white);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

main {
  padding: 12px 12px 64px;
}

main div.top-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

main div.top-content span {
  width: 80%;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  color: var(--title-color);
}

main div.top-content div.paragraph-block {
  width: 100%;
  margin: var(--space-sm) 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

main div.top-content div.paragraph-block img {
  height: var(--space-xs);
  width: var(--space);
  margin: 4px 8px 0 0;
}

main div.top-content div.paragraph-block span {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  
  color: var(--paragraph-text-color);
}

main div.top-content img {
  width: 100%;
  border-radius: 12px;
}

main div.bottom-content {
  display: flex;
  flex-direction: column;
}

main div.bottom-content div.card, main div.bottom-content div.list {
  height: auto;
  width: 100%;
}

main div.bottom-content div.card {
  margin-bottom: var(--space-md);
}

main div.bottom-content div.card ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

main div.bottom-content div.card ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

main div.bottom-content div.card ul li > span {
  color: var(--card-item-icon-color);
  margin-right: var(--space-xs);
}

main div.bottom-content div.card ul li:first-child {
  width: 100%;
  margin-bottom: 20px;
}

main div.bottom-content div.card ul li:first-child > span {
  color: var(--orange);
  margin-right: var(--space-xs);
}

main div.bottom-content div.card ul li:first-child div.info span.subtitle {
  color: var(--orange);
}

main div.bottom-content div.card ul li:last-child {
  margin-right: var(--space-md);
}

main div.bottom-content div.card ul li div.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

main div.bottom-content div.card ul li div.info span.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 10px;
  text-transform: uppercase;
  
  color: var(--card-item-title-color);
}

main div.bottom-content div.card ul li div.info span.subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  
  color: var(--card-item-subtitle-color);
}

main div.bottom-content div.list div.ingredients {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

main div.bottom-content div.list div.ingredients span.section-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  color: var(--list-item-text-color);
}

main div.bottom-content div.list div.ingredients span.ingredient-title {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;

  color: var(--list-item-text-color);
  margin: 32px 0 12px;
}

main div.bottom-content div.list div.ingredients ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main div.bottom-content div.list div.ingredients ul li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  margin: 7px;
}

main div.bottom-content div.list div.ingredients ul li input {
  border: 1px solid var(--checkbox-border-color);
  border-radius: 4px;
  margin-right: var(--space-sm);
}

main div.bottom-content div.list div.ingredients ul li span.ingredient-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  
  color: var(--list-item-text-color);
}

main div.bottom-content div.list div.ingredients ul li:last-child span.ingredient-text i {
  font-style: italic;
  font-weight: 500;
  
  color: var(--list-item-text-color);
}

main div.bottom-content div.list div.instructions {
  margin-top: 30px;
}

main div.bottom-content div.list div.instructions span.section-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  color: var(--list-item-text-color);
  margin-bottom: 12px;
}

main div.bottom-content div.list div.instructions ol {
  counter-reset: my-awesome-counter;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

main div.bottom-content div.list div.instructions ol li {
  position: relative;
  counter-increment: my-awesome-counter;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  
  color: var(--card-item-subtitle-color);
  margin: 16px 8px;
}

main div.bottom-content div.list div.instructions ol li::before {
  font-family: "Playfair Display";
  font-size: var(--space);
  font-weight: 400;
  line-height: 32px;
  color: var(--white);
  background: var(--orange);

  --size: 36px;
  width: var(--size);
  height: var(--size);
  border-radius: 6px;

  position: absolute;
  top: 0;
  left: calc(-1 * var(--size) - 10px);
  content: counter(my-awesome-counter);
  
  text-align: center;
}

main div.bottom-content div.list span#source {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  
  color: var(--card-item-title-color);
  text-align: center;
}

footer {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: var(--space);
}

footer span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--footer-text-color);
}

footer span a {
  font-family: "Montserrat";
  font-style: normal;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--footer-text-color);
}

@media (min-width: 426px) {
  main {
    width: 70%;
    padding: 12px 0 64px;
  }
}

@media (min-width: 769px) {

  main div.top-content span {
    width: 80%;
    font-size: 48px;
    line-height: 64px;
  }

  main div.top-content div.paragraph-block {
    width: auto;
  }

  main div.top-content div.paragraph-block span {
    width: 60%;
    font-size: 14px;
    line-height: 17px;
  }

  main div.bottom-content {
    margin-top: var(--space-lg);
    flex-direction: row-reverse;
  }
  
  main div.bottom-content div.list {
    width: 70%;
    flex-grow: 1;
  }

  main div.bottom-content div.card {
    height: 367px;
    width: 216px;
    margin: 0 0 0 64px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

  main div.bottom-content div.card ul {
    height: 100%;
    width: 100%;
    margin: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
  }

  main div.bottom-content div.card ul li,
  main div.bottom-content div.card ul li:first-child,
  main div.bottom-content div.card ul li:last-child {
    width: 70%;
    margin: 0;
  }
  
  main div.bottom-content div.card ul li div.info span.title {
    font-size: 10px;
    line-height: 12px;
  }

  main div.bottom-content div.card ul li div.info span.subtitle {
    font-size: 14px;
    line-height: 17px;
  }

  main div.bottom-content div.list div.ingredients span.section-title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: var(--space-md);
  }

  main div.bottom-content div.list div.ingredients span.ingredient-title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  main div.bottom-content div.list div.ingredients ul li input {
    min-height: 21px;
    min-width: 21px;
    margin-right: var(--space-sm);
  }

  main div.bottom-content div.list div.ingredients ul li span.ingredient-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    
    color: var(--list-item-text-color);
  }

  main div.bottom-content div.list div.ingredients ul li:last-child span.ingredient-text i {
    font-style: italic;
    font-weight: 500;
    
    color: var(--list-item-text-color);
  }

  main div.bottom-content div.list div.instructions span.section-title {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    color: var(--list-item-text-color);
    margin-bottom: 12px;
  }

}